/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	background-color: lightgrey;
}


/*
=========================
SECTIONS
=========================
*/

header {
	height: 10vh;
	border-bottom: 3px solid grey;
	font-family: 'Cinzel', serif;
	font-size: 25px;
}

aside {
	float: left;
	width: 300px;
	height: 90vh;
	margin-left: 30px;
}

article {
	float:right;
	width: 60%;
	height: 95vh;
	border: 3px solid grey;
}

footer {
	width: 100%;
	clear: both;
	height: 2.5vh;
	border: 3px solid grey;
}

.your-tweet {
	width: 100%;
	height: 10vh;
	border: 3px solid grey;
}

.all-tweets {
	width:100%;
	height: 80vh;
	border: 3px solid grey;
}

.tweet {
	width:100%;
	background-color: grey;
	border: 2px solid black;
}

.user {
	background-color: white;
}

.date {
	float: right;
}




#follow {
	width: 100%;
	height: 60%;
	border: 3px solid grey;
	border-top-width: 1.5px ;
}

#write {
	width: 95%;
}

/*
=====================
PROFILE
=====================
*/

#profile {
	width: 100%;
	height: 170px;
	background-color: white;
	box-sizing: border-box;
	border: 2px solid black;
}
#coverPhoto {
	width: 100%;
	border-radius: 10px;
}
#profilePhoto {
	width: 25%;
	border: 3px solid white;
	border-radius: 10px;
	position: relative;
	left: 20px;
	bottom: 40px;
}
#name {
	float: right;
	margin-right:40px;
	margin-top: 10px;
	font-size: 20px;
	font-family: 'Cinzel', serif;
}
.class {
	float:right;
}

